#table-location {
	margin-left: 0;
    margin-right: auto;
    width: 70%;
}
.last10 {
	font-size: 7px;
}
.otherCell {

}
#standings {
	font-size: .8rem;
	line-height: 1rem;
}

#standings table {
	width: 100%;
}